/* Variables */
$font-title: normal 30px/1.5 "Poppins", sans-serif;
$font:"Poppins", sans-serif;

#entradas {
    min-height: 100vh;
  }
  * {
    box-sizing: border-box;
  }
  
  #entradas {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    .articleentrada {
        display: flex;
        flex: 0 1 300px;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 2rem;
      
        img {
            order: -1;
            align-self: center;
            width: 300px;
            height: 420px;
          }}
  }
  
  
  