.carrusel {
  width: 90%;
  padding: 10px;
}
.section-after {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    width: 80%;

    height: 50px;
    background-color: black;
    color: whitesmoke;

    letter-spacing: 2em;
  }
}
.VideosAfter {
  p {
    justify-content: center;
    text-align: center;
    font-family: $font;
    font-style: bold;
    font-size: 20px;
    color: whitesmoke;
    background-color: black;
  }
}
.aftermovies {
  padding: 20px;
}
